.navbar .nav>li>a.brand {
    padding-left:20px;
    margin-left:0;
}

.content {
    margin-top:100px;
    width:100%
}

footer {
    position:fixed;
    left:0;
    bottom:0;
    height:30px;
    width:100%;
    background:#ddd;
    -webkit-box-shadow:0 8px 6px 6px black;
    -moz-box-shadow:0 8px 6px 6px black;
    box-shadow:0 8px 6px 6px black
}

footer p {
    padding:5px 0 12px 10px
}

.editorTable{
    position: relative;
    left: 75px;
    width: 100%;
    height: 100%;
}

.editorTable td {
    width: 50%; 
}

.preview{
    position: relative;
    top: 2px;
    height:100%;
    width: 100%;
    border: 1px solid black;
    vertical-align: text-top;
}

.headerRow{
    text-align: center;
    font-weight: bold;
}

.fileList{
   position: absolute;
   top: 85px;
   left: 0px;
}

.fileList div{
    width: 200px;
}

.fileList h3{
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}